In [ ]:
import pandas as pd

# df_channel_en.tsv.gz

In [16]:
df = pd.read_csv("df_channels_en.tsv.gz", compression = "infer", sep = "\t")

In [17]:
df.head()

,category_cc,join_date,channel,name_cc,subscribers_cc,videos_cc,subscriber_rank_sb,weights
0,Gaming,2010-04-29,UC-lHJZR3Gqxm24_Vd_AJ5Yw,PewDiePie,101000000,3956,3.0,2.087
1,Education,2006-09-01,UCbCmjCuTUZos6Inko4u57UQ,Cocomelon - Nursery ...,60100000,458,7.0,2.087
2,Entertainment,2006-09-20,UCpEhnqL0y41EpW2TvWAHD7Q,SET India,56018869,32661,8.0,2.087
3,Howto & Style,2016-11-15,UC295-Dw_tDNtZXFeAPAW6Aw,5-Minute Crafts,60600000,3591,9.0,2.087
4,Sports,2007-05-11,UCJ5v_MCY6GNUBTO8-D3XoAg,WWE,48400000,43421,11.0,2.087

In [18]:
df.category_cc.value_counts(dropna = False)

Music                    24285
Entertainment            22951
Gaming                   20143
People & Blogs           18413
Howto & Style            11875
Education                 7803
Film and Animation        6875
Sports                    5148
Science & Technology      4864
Comedy                    3767
Autos & Vehicles          3705
News & Politics           2263
Travel & Events           1989
Pets & Animals            1292
Nonprofits & Activism      969
NaN                        128
Name: category_cc, dtype: int64

In [22]:
num_science = df.category_cc.value_counts(dropna = False).values[df.category_cc.value_counts(dropna = False).index == "Science & Technology"][0]

In [23]:
perc = (num_science * 100) / df.shape[0]

In [25]:
print(round(perc, 2), "% of the dataset channels are science category channels.")

3.56 % of the dataset is science category videos.

# df_timeseries_en.tsv.gz

In [26]:
df = pd.read_csv("df_timeseries_en.tsv.gz", compression = "infer", sep = "\t")

In [27]:
df.head()

,channel,category,datetime,views,delta_views,subs,delta_subs,videos,delta_videos,activity
0,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-03 00:00:00,2.024946e+05,0.000000,650.222222,0.000000,5,0,3
1,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-10 00:00:00,3.940857e+05,191591.111111,1046.000000,395.777778,6,1,1
2,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-17 00:00:00,8.353938e+05,441308.083333,1501.500000,455.500000,6,0,1
3,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-24 00:00:00,1.104577e+06,269183.250000,1750.000000,248.500000,6,0,0
4,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-31 00:00:00,1.284406e+06,179828.600000,2008.300000,258.300000,6,0,0

In [28]:
df.category.value_counts(dropna = False)

Music                    3532411
Entertainment            3071292
Gaming                   2825331
People & Blogs           2178182
Howto & Style            1723049
Education                1111784
Film and Animation        934776
Sports                    762263
Science & Technology      705228
Autos & Vehicles          552169
Comedy                    513748
News & Politics           323611
Travel & Events           289969
Pets & Animals            177085
Nonprofits & Activism     151017
NaN                        20584
Name: category, dtype: int64

In [31]:
num_science = df.category.value_counts(dropna = False).values[df.category.value_counts(dropna = False).index == "Science & Technology"][0]
perc = (num_science * 100) / df.shape[0]
print(round(perc, 2), "% of the dataset videos is categorized as science videos, which represents", num_science, "videos.")

3.74 % of the dataset videos is categorise as science videos, which represents 705228 videos.

# yt_metadata_en.jsonl.gz

In [32]:
df = pd.read_csv("yt_metadata_en.jsonl.gz", compression = "infer", sep = "\t")

In [ ]:
import dask.dataframe as dd

In [11]:
df = dd.read_csv("yt_metadata_en.jsonl.gz", compression = "infer", sep = "\t")

C:\Users\Kelyan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\dask\dataframe\io\csv.py:542: UserWarning: Warning gzip compression does not support breaking apart files
Please ensure that each individual file can fit in memory and
use the keyword ``blocksize=None to remove this message``
Setting ``blocksize=None``
  warn(

In [13]:
df.partitions[1]

IndexError: Index 1 is out of bounds for axis 0 with size 1